body{
    margin: 0;
    font-family: Arial;
    min-height: 100vh;
    transition: 0.3s;
}

/* AUTH */
.auth{
    width: 260px;
    margin: 120px auto;
    padding: 30px;

    background: darkviolet;
    color: white;

    border-radius: 20px;
    text-align: center;
}

/* INPUT */
input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
}

/* BUTTON */
button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    background: linear-gradient(to bottom, rgb(41,139,172), rgb(90,180,210));
    color: white;
}

/* LINK */
.link{
    font-size: 12px;
    cursor: pointer;
}

/* APP */
.app{
    display: flex;
}

/* SIDEBAR */
.sidebar{
    width: 200px;
    padding: 20px;
}

.sidebar button{
    display: block;
    margin: 10px 0;
}

/* MAIN */
.main{
    flex: 1;
    text-align: center;
    margin-top: 80px;
}

/* AVATAR */
.avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* PEOPLE */
.people{
    margin-top: 20px;
}

/* DARK MODE */
.dark{
    background: #111;
    color: white;
}
